@model IEnumerable<MVCEventBriteApp.Models.Event>
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to EventBrite!!</h2>
<div class="panel panel-default">
    <div class="panel-heading">Find Your Next Experience</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Search", "Event",
                                       new AjaxOptions
                                       {
                                           InsertionMode = InsertionMode.Replace,
                                           HttpMethod = "Get",
                                           UpdateTargetId = "searchresults",
                                           LoadingElementId = "ajax-loader",
                                           OnFailure = "searchfailed"
                                       }
                                    )
                                 )
        {
            <input type="text" name="q" placeholder="Search events or categories" />
                <input type="text" name="p" placeholder="City" />
                <input type="submit" value="SEARCH" />
        }

        <div id="searchresults">
        </div>
    </div>
</div>




<div class="panel panel-default">
    <div class="panel-heading">Deals</div>
    <div class="panel-body">
        @Ajax.ActionLink("Last Minute Deals",
                     "LastMinuteDeals",
                     null,
                     new AjaxOptions
                     {
                         UpdateTargetId = "deals",
                         InsertionMode = InsertionMode.Replace,
                         HttpMethod = "GET"
                     },
                     new { @class = "btn btn-primary" })
    <div id="deals" >
    </div>
    </div>
</div>

    @section Scripts
    {
        <script src="~/Scripts/App/EventBriteScript.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }
