@model IEnumerable<EnrollmentApplication.Models.Student>

    <div id="searchresults">
        <ul>
            @foreach(var item in Model)
            {
                <li>@item.Studentfirstname @item.Studentlastname</li>
            }
        </ul>

    </div>
