@model MVCMusicStoreApplication.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>Content Body</h3>
<h2>Details</h2> 
<h2>@Model.Title</h2></br>
<h3 style="display:inline;">Artist:</h3><b></b> @Model.Artist.Name<br><br>
<h3 style="display:inline;">Price:</h3> @Model.Price<br><br>

<button>@Html.ActionLink("Add to Cart", "/ShoppingCart/AddTOCart/id")</button>