@model  EnrollmentApplication.Models.Student

<div class="panel">
        <div class="panel-body">
           <h2 class="panel-title">Student of the month is @Model.Studentfirstname  @Model.Studentlastname</h2>
        </div>
</div>




