@Model  EnrollmentApplication.Models.Student

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Star Student is @Model.Studentfirstname  @Model.Studentlastname</h3>
    </div>
</div>
